

.container{
    position: relative;
    height: 1500px;
    width: 800px;
    margin: 0 auto;
    transition: .3s;
}

.cvimg {
    text-align: center;
}

.cvimg img{
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

.container h1{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
}

#skill{
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
}

.education p{
    text-align: center;
    margin-top: 30px;
    color: #08767c;
    font-size: 1.2rem;
}

.education p span{
    color: #00acb5;
    font-size: 1.5rem;
}

//progress bar
.bar{
    width: 600px;
    margin: 0 auto 0;
    padding: 20px;
}

.skills{
    width: 600px;
    margin: 0 auto 0;
    padding: 20px;
}

li{
    position: relative;
    list-style: none;
    margin: 30px 0;
    font-weight: 500;
    text-transform: uppercase;
    color: #00ADB5;
}

li:before{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #00000069;
    border-radius: 1000px;
}

li:after{
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 0;
    height: 15px;
    background-color: #08767c;
    border-radius: 1000px;
    animation-duration: .7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

li.html:after{
    animation-name: html;
}

@keyframes html {
    to{
        width: 90%;
    }
}

li.css:after{
    animation-name: css;
}

@keyframes css {
    to{
        width: 80%;
    }
}

li.react:after{
    animation-name: react;
}

@keyframes react {
    to{
        width: 70%;
    }
}

li.javascript:after{
    animation-name: javascript;
}

@keyframes javascript {
    to{
        width: 60%;
    }
}


//skills bar
li.shopify:after{
    animation-name: shopify;
}

@keyframes shopify {
    to{
        width: 100%;
    }
}

li.marketing:after{
    animation-name: marketing;
}

@keyframes marketing {
    to{
        width: 70%;
    }
}

li.wordpress:after{
    animation-name: wordpress;
}

@keyframes wordpress {
    to{
        width: 80%;
    }
}

li.web:after{
    animation-name: web;
}

@keyframes web {
    to{
        width: 80%;
    }
}


//mobile things
@media screen and (max-width: 820px) {

    .container{
        width: 560px;
        height: 760px;
    }

    .bar{
        width: 500px;
        margin: 0px 0px 0px 20px;
        padding: 0;
    }

    #skill{
        position: static;
        float: left;
        margin: 40px 0px 0px 20px;
    }

}

@media screen and (max-width: 570px) {

    .container{
        width: 460px;
        height: 760px;
    }

    .bar{
        width: 400px;
        margin: 0px 0px 0px 20px;
        padding: 0;
    }

    #skill{
        position: static;
        float: left;
        margin: 60px 0px 0px 20px;
    }

}

@media screen and (max-width: 490px) {

    .container{
        width: 360px;
        height: 760px;
    }

    .bar{
        width: 300px;
        margin: 0px 0px 0px 20px;
        padding: 0;
    }

    .skills{
        width: 300px;
        margin: 0px 0px 0px 20px;
        padding: 0;
    }

    #skill{
        margin: 40px 0px 0px 20px;
    }
    
}
