/* Add a black background color to the top navigation */
body{
  background-color: #222831;
  font-family: monospace;
}

.container {
  background-color: #00ADB5;
  // overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 70px;
  user-select: none;
}

.container .desktopLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Style the links inside the navigation bar */
.container .desktopLinks a {
  color: #ffffff;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Oregano', cursive;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.container .desktopLinks a:hover {
  background-color: #222831;
  color: #ffffff;
}

.logo img{
  position: absolute;
  left: 0;
  top: 10px;
  
}

// byrgers menu
.container .burgerMenuButton {
  display: none;
  cursor: pointer;
}

.brgrMenuItems{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 61px;
  background-color: #ffffff;
  width: 100vw;
  z-index: 1000;
}

.brgrMenuItems{
  
  a{
    color: #00ADB5;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 5px 0;
  }
}



// mobile

@media screen and (max-width: 768px) 
{
  .container .logo img{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    // display: none;
  }

  .container{
   justify-content: right;
  }

  .container .desktopLinks a{
    display: none;
  }

  .container .burgerMenuButton{
    display: unset;
  }

  
}






