/* Add a black background color to the top navigation */
.container {
  background-color: #272727;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Style the links inside the navigation bar */
.container a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oregano', cursive;
}

/* Change the color of links on hover */
.container a:hover {
  background-color: blueviolet;
  color: rgb(255, 255, 255);
}

/* Add a color to the active/current link */
.container a.active {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
}

.logo img{
  height: 70px;
  width: 200px;
  position: absolute;
  left: 150px;
  top: 10px;
}

// mobile

@media screen and (max-width: 700px) 
{
  .logo img{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
  }
}

@media screen and (max-width: 700px) 
{
  .container a{
    font-size: 15px;
  }

  .container{
   justify-content: right;
  }

}




