/* Add a black background color to the top navigation */
.container {
  background-color: #072227;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.container .desktopLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Style the links inside the navigation bar */
.container .desktopLinks a {
  color: #4FBDBA;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oregano', cursive;
}

/* Change the color of links on hover */
.container .desktopLinks a:hover {
  background-color: #35858B;
  color: #AEFEFF;
}

/* Add a color to the active/current link */
.container .desktopLinks a.active {
  background-color: #04AA6D;
  color: rgb(255, 255, 255);
}

.logo img{
  height: 70px;
  width: 200px;
  position: absolute;
  left: 150px;
  top: 10px;
}

// byrgers menu
.container .burgerMenuButton {
  display: none;
  cursor: pointer;
}

.brgrMenuItems{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 61px;
  background-color: #04AA6D;
  width: 100vw;
  z-index: 1000;
}

.burgerMenuItems{
  
  a{
    color:aliceblue;
    font-size: 18px;
    padding: 5px 0;
  }
}

// mobile

@media screen and (max-width: 768px) 
{
  .container .logo img{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    // display: none;
  }

  .container{
   justify-content: right;
  }

  .container .desktopLinks a{
    display: none;
  }

  .container .burgerMenuButton{
    display: unset;
  }
}

// @media screen and (max-width: 768px) 
// {
//   .container a{
//     font-size: 15px;
//   }

//   .container{
//    justify-content: right;
//   }

//   .burgerMenubutton{
//     display: block;
//   }

// }




